<%% title t('<%= singular_name %>.index.title') %>

<table id="<%= plural_name %>">
  <tr>
  <%- for attribute in attributes -%>
    <th><%= attribute.column.human_name.titleize %></th>
  <%- end -%>
  </tr>
  <%% for <%= singular_name %> in @<%= plural_name %> %>
    <%%= render <%= singular_name %> %>
  <%% end %>
</table>
<%- if options[:will_paginate] -%>
<%%= <%= singular_name %>_pagination @<%= plural_name %> %>
<%- end -%>
<%- if action? :new -%>
<p><%%= link_to t('<%= singular_name %>.actions.new'), new_<%= singular_name %>_path<%= ", :id => 'get-new-#{singular_name}', :'data-remote' => true, :'data-method' => 'get'" if options[:jquery] %>%></p>
<%- end -%>
