//<script type="text/javascript"><%%# Required by NetBeans for JS syntax highlighting and code completion %>
jQuery.noConflict()(function($){
$("div.flash").remove();
<%% @<%= singular_name %> = <%= class_name %>.new %>
var new_div = $("<div id='new-<%= singular_name %>'></div>");
$("a#get-new-<%= singular_name %>").after(new_div).hide();
new_div.append($("<a name='new-<%= singular_name %>'></a>"))
  .append($("<h2><%%=  t('<%= singular_name %>.new.title').titleize %></h2>"))
  .append($("<%%= escape_javascript render("form", :data_method => "post") %>"));
window.location.hash = "#new-<%= singular_name %>";
$("div#new-<%= singular_name %> > form").find("input:visible, select:visible").get(0).focus();
});
//</script>
