$("div.flash").remove();
<%% @<%= singular_name %> = <%= class_name %>.new %>
var new_div = $("<div id='new_<%= singular_name %>'></div>");
$("a#get_new_<%= singular_name %>").after(new_div).hide();
new_div.append($("<a name='new_<%= singular_name %>'></a>"))
  .append($("<h2><%%=  t('<%= singular_name %>.new.title').titleize %></h2>"))
  .append($("<%%= escape_javascript render("form", :data_method => "post") %>"));
window.location.hash = "#new_<%= singular_name %>";
$("div#new_<%= singular_name %> > form").find("input:visible, select:visible").get(0).focus();
