<%% title t('activerecord.models.<%= singular_name %>') %>

<%- for attribute in attributes -%>
<p>
  <strong><%%= t('activerecord.attributes.<%= singular_name %>.<%= attribute.name %>').titleize %>:</strong>
  <%%=h @<%= singular_name %>.<%= attribute.name %> %>
</p>
<%- end -%>

<p>
<%- if action? :edit -%>
  <%%= link_to t('<%= singular_name %>.edit.title'), edit_<%= singular_name %>_path(@<%= singular_name %>) %> |
<%- end -%>
<%- if action? :destroy -%>
  <%%= link_to t('<%= singular_name %>.destroy.title'), delete_<%= singular_name %>_path(@<%= singular_name %>)<%= ",  :class => 'remote-delete',  :'data-confirm' => t('common.labels.are_you_sure')" if options[:jquery] %> %> |
<%- end -%>
<%- if action? :index -%>
  <%%= link_to t('<%= singular_name %>.actions.list'), <%= plural_name %>_path %>
<%- end -%>
</p>
