<%% title t('activerecord.models.<%= singular_name %>') %>

<%- for attribute in attributes -%>
<p>
  <strong><%%= t('activerecord.attributes.<%= singular_name %>.<%= attribute.name %>').titleize %>:</strong>
  <%%=h @<%= singular_name %>.<%= attribute.name %> %>
</p>
<%- end -%>

<p>
<%- if action? :edit -%>
  <%%= link_to t('<%= singular_name %>.edit.title'), edit_<%= singular_name %>_path(@<%= singular_name %>) %> |
<%- end -%>
<%- if action? :destroy -%>
  <%%= link_to "Destroy", @<%= singular_name %>, :confirm => 'Are you sure?', :method => :delete %> |
<%- end -%>
<%- if action? :index -%>
  <%%= link_to t('<%= singular_name %>.actions.list'), <%= plural_name %>_path %>
<%- end -%>
</p>
