//<script type="text/javascript"><%%# Required by NetBeans for JS syntax highlighting and code completion %>
jQuery.noConflict()(function($){
<%% unless flash.blank? %>
  <%%= raw show_flash_message %>

  <%% if flash[:notice] %>
    $("#<%= plural_name %> #show-<%= singular_name %>-<%%= @<%= singular_name %>.id %>").replaceWith($("<%%= escape_javascript render(:partial => '<%= singular_name %>', :locals => { :<%= singular_name %> => @<%= singular_name %> }) %>"));
    var new_div = $("<div id='new-<%= singular_name %>' title='<%%= t('<%= singular_name %>.new.title').titleize %>'<%- if options[:jquery_ui] -%> data-ui='dialog'<%- end -%>></div>");
    $("div#edit-<%= singular_name %>-<%%= @<%= singular_name %>.id %>")
      <% if options[:jquery_ui] %>.dialog("close")<% end %>
      .after(new_div)
      .remove();
    <%% @<%= singular_name %> = <%= class_name %>.new %>
    new_div.append($("<a name='new-<%= singular_name %>'></a>"))
      .append($("<h2><%%= t('<%= singular_name %>.new.title').titleize %></h2>"))
      .append($("<%%= escape_javascript render("form", :data_method => "post") %>"));
    window.location.hash = "#";
  <%% elsif flash[:alert] %>
    $("div#errorExplanation").remove();
    var error_messages = $("<%%= escape_javascript(error_messages_for(:<%= singular_name %>)) %>");
    $("div#edit-<%= singular_name %>-<%%= @<%= singular_name %>.id %> > form").prepend(error_messages);
  <%% end %>
<%% else %>
  <%% flash[:alert] = I18n.t("flash.<%= plural_name %>.#{params[:action]}.alert") %>
  <%%= raw show_flash_message %>
<%% end %>
<%% flash.discard %>
});
//</script>
