<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//<%= I18n.default_locale.to_s.upcase %>"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.default_locale %>" lang="<%= I18n.default_locale %>">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title><%%= h(yield(:title) || "Untitled") +
      (" - #{APP_NAME}" if defined?(APP_NAME) ) +
      (" - #{COMPAGNY_NAME}" if defined?(COMPAGNY_NAME) ) %></title>
    <%- if options[:jammit] -%>
      <%%= raw include_stylesheets(:common, :workspace, :media => 'all') %>
      <%%= raw include_javascripts :workspace %>
      <%%= raw yield(:js_views) %>
    <%- else -%>
      <%%= stylesheet_link_tag '<%= file_name %>' %>
      <%- if options[:formtastic] -%>
        <%%= stylesheet_link_tag 'formtastic', 'formtastic_changes' %>
      <%- end -%>
    <%- end -%>
    <%- if options[:jquery] -%>
      <%- unless options[:jammit] -%>
        <%%= javascript_include_tag 'jquery-1.4.2', 'application' %>
        <% if options[:jquery_ui] %>
          <%%= stylesheet_link_tag 'ui/<%= options[:jquery_ui] %>/jquery-ui-1.8.4' %>
          <%%= javascript_include_tag 'jquery-ui-1.8.4', 'application.ui' %>
        <%- end -%>
      <%- end -%>
      <%%= raw yield_authenticity_token %>
    <%- end -%>
    <%%= yield(:head) %>
  </head>
  <!--[if IE 6]><body id="ie6" class="all-ie not-ie7 not-ie8 not-ie9"><![endif]-->
  <!--[if IE 7]><body id="ie7" class="all-ie not-ie6 not-ie8 not-ie9"><![endif]-->
  <!--[if IE 8]><body id="ie8" class="all-ie not-ie6 not-ie7 not-ie9"><![endif]-->
  <!--[if IE 9]><body id="ie9" class="all-ie not-ie6 not-ie7 not-ie8"><![endif]-->
  <!--[if (IE) & (!IE 6) & (!IE 7) & (!IE 8) & (!IE 9)]><body id="unknown-ie" class="all-ie not-ie6 not-ie7 not-ie8 not-ie9"><![endif]--> <!-- For legacy and new versions of Internet Explorer -->
  <!--[if !IE]>--><body id="not-ie" class="not-ie not-ie6 not-ie7 not-ie8 not-ie9"><!--<![endif]-->
    <div id="container">
      <div id="header">
        <%- if options[:authlogic] -%>
        <div id="user-nav">
          <%% if current_user %>
            <%%= link_to t('common.actions.account', :default => 'Edit Profile'), edit_user_path(current_user) %> |
            <%%= link_to t('common.actions.logout', :default => 'Logout').capitalize, logout_path %>
          <%% else %>
            <%%= link_to t('common.actions.register', :default => 'Register'), signup_path %> |
            <%%= link_to t('common.actions.login', :default => 'Login').capitalize, login_path %>
          <%% end %>
        </div>
        <%- end -%>
      </div>
      <div id="content">
      <%%- flash.each do |name, msg| -%>
        <%%= content_tag :div, msg, :id => "flash-#{name}", :class => "flash" %>
      <%%- end -%>
      
      <%%- if show_title? -%>
        <h1><%%=h yield(:title) %></h1>
      <%%- end -%>
      
      <%%= yield %>
      </div>
    </div>
  </body>
</html>
