<%% title t('common.actions.login', :default => 'Log in') %>

<p>Don't have an <%%= t('common.actions.account', :default => 'acount') %>? <%%= link_to t('common.actions.register', :default => 'Sign up').capitalize, signup_path<%= ", :'data-ui' => 'button'" if options[:jquery_ui] %>%></p>

<%- if options[:authlogic] -%>
<%% form_for @<%= session_singular_name %> do |f| %>
  <%%= f.error_messages %>
  <p>
    <%%= f.label :username, t('authlogic.attributes.<%= session_singular_name %>.login').capitalize %><br />
    <%%= f.text_field :username %>
  </p>
  <p>
    <%%= f.label :password, t('authlogic.attributes.<%= session_singular_name %>.password').capitalize %><br />
    <%%= f.password_field :password %>
  </p>
  <p><%%= f.submit t('common.actions.login').capitalize<%= ", :'data-ui' => 'button'" if options[:jquery_ui] %>%></p>
<%% end %>
<%- else -%>
<%% form_tag <%= session_plural_name %>_path do %>
  <p>
    <%%= label_tag :login, "#{t('authlogic.attributes.<%= session_singular_name %>.login').capitalize} #{t('common.labels.or')} #{t('authlogic.attributes.<%= session_singular_name %>.email')}" %><br />
    <%%= text_field_tag :login, params[:login] %>
  </p>
  <p>
    <%%= label_tag :password, t('authlogic.attributes.<%= session_singular_name %>.password').capitalize %><br />
    <%%= password_field_tag :password %>
  </p>
  <p><%%= submit_tag t('common.actions.login').capitalize<%= ", :'data-ui' => 'button'" if options[:jquery_ui] %>%></p>
<%% end %>
<%- end -%>
